# ── Local Development Database (PostgreSQL) ──────────────────────────────────
DATABASE_URL="postgresql://postgres:password@localhost:5432/fluxtv?schema=public"

NODE_ENV=development
DATABASE_SSL=false

NEXT_PUBLIC_PAGE_LIMIT=24
NEXT_PUBLIC_APP_URL=http://localhost:3000
COOKIE_SECURE=false
